<!DOCTYPE html>
<head>
    <title>404 Error Page</title>
    <link rel="icon" href="/img/weather.png">

</head>
<body>
    
    <div class="main-content">
        {{>header}}
        <p>{{message}}</p>
    </div>
    {{>footer}}
</body>