<!DOCTYPE html>
<head>
    <title>Help</title>
    <link rel="icon" href="/img/weather.png">
    <link rel='stylesheet' href="/css/styles.css">
</head>
<body>
    <div class="main-content">
        {{>header}}
        <h6>Data being sent from Help page</h6>
        <p>{{message}}</p>
        
    </div>
    {{>footer}}
</body>